* {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border: none;
}

.clock-label {
  font-size: 80px;
  font-family: "AdwaitaMono Nerd Font", sans-serif;
  color: rgba(250, 189, 47, 0.5);
  text-shadow: 0 0 20px rgba(250, 189,  47, 0.2);
}

